*{
  margin: 0;
  padding: 0;
}

.Heading{
  text-align: center;
  font-family: 'Quintessential', cursive;
  background-color: rgb(199, 81, 81);
  padding: 0.7em;
  color: rgb(255, 255, 255);
}

.Cards{
margin: 6rem ;
display:inline-flex;
justify-content: center;
}
.Card{
  
  padding: 20px;
  border: 5px solid;
  background-color: rgb(40, 134, 197);
  border-radius:8px ;
  display:flexbox;
justify-content: center;
}
.Card:hover{
  box-shadow: rgb(0, 0, 0);
    
  
}
.poster{
  height: 300px;
  width: 200px;
  z-index: -2;
  /* display: flexbox;
  justify-content: center; */
}
.card_info{
  display: block;
  margin-top:0.5em;
}
.title{
  text-align: center;
}
.desc{
  display: block;
  text-align: center;
  
}
.link{
  display: block;
  justify-content: center;
  text-align: center;
}
.btn{
  margin: 0.5em;
  padding: 0.4em;
  display:flexbox;
  justify-items: center;
  cursor: pointer;
}


